<div class="container">
  <table class="table table-condensed table-responsive table-user-information">
      <tbody>
          <tr>        
              <td>
                  <strong>
                      Nome                                                
                  </strong>
              </td>
              <td class="text-primary">
                  Nome     
              </td>
          </tr>
          <tr>        
              <td>
                  <strong>
                      Descrição                                            
                  </strong>
              </td>
              <td class="text-primary">
                  Descrição
              </td>
          </tr>
          <tr>        
              <td>
                  <strong>
                      # Stars                                              
                  </strong>
              </td>
              <td class="text-primary">
                  # Stars
              </td>
          </tr>
          <tr>        
              <td>
                  <strong>
                      Link GitHub                                                
                  </strong>
              </td>
              <td class="text-primary">
                  Link
              </td>
          </tr>
  </table>
</div>
